

#container.fade{
    background-color: blueviolet;
color:aliceblue
    
    padding: 0 20px;
    opacity: 1;
    transition:opacity .5s ease;
}
#container{
    background-color: blue;
    opacity: 0;
    transition: opacity 2 ease
}

